:root {

  --secondary-color: #a5d8dc;

  --tertiary-color: #f0c0bf;

  --main-color: #2c2c2c;

  --white: white;

  --background-color: 'silver';
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--background-color);
  color: var(--primary-color);
  line-height: 1.429;
}

img {
  max-width: 100%;
}

main {
  font-family: Roboto, sans-serif;
  max-height: 200px;
  padding: 20px;
}

.c-header {
  text-align: center;
}

.c_webchat {
  display: grid;
  grid-gap: 10px;
  grid-template: 'nickname_input nickname_button message_box message_box' 5vh
    'user_box user_box message_box message_box' 20vh
    'user_box user_box message_box message_box' 30vh
    'message_input message_input message_input message_button' 8vh
    / 1.5fr 1fr 8fr 1fr;
  margin: 20px auto;
}

.webchat_nickname__input {
  grid-area: nickname_input;
}

.webchat_nickname__button {
  grid-area: nickname_button;
}

.webchat_user__box {
  grid-area: user_box;
}

.webchat__message__box {
  grid-area: message_box;
}

.webchat__message__box p {
  line-height: 1.5;
  word-wrap: break-word;
}

.webchat__message__item {
  background: var(--tertiary-color);
  border-radius: 8px;
  box-shadow: 2px 2px 2px 2px rgb(224, 224, 224);
  margin-bottom: 10px;
  padding: 10px;
}

.webchat_user__box , .webchat__message__box {
  font-size: 1.265rem;
  list-style-type: none;
  overflow: auto;
  padding: 10px;
}

.webchat__message__input {
  grid-area: message_input;
  height: 100%;
  letter-spacing: normal;
  overflow-wrap: break-word;
  resize: none;
  text-indent: 0;
  text-rendering: auto;
  text-shadow: none;
  text-transform: none;
  white-space: pre-wrap;
  width: 100%;
  word-spacing: normal;
  writing-mode: horizontal-tb;
}

.webchat_message_button {
  grid-area: message_button;
}

.webchat__button {
  background: var(--secondary-color);
  border: none;
  border-radius: 8px;
  box-shadow: 5px 5px 5px 2px rgb(224, 224, 224);
  color: var(--primary-color);
  cursor: pointer;
  font-size: 1.265rem;
}

.webchat__button:hover {
  opacity: 0.6;
}

.webchat__input {
  background-color: white;
  border: 1.5px solid rgba(224, 224, 224);
  box-shadow: 2px 2px 2px 1px rgb(224, 224, 224);
  font-size: 1rem;
  padding: 10px;
}

.webchat_box {
  border: 2px dotted var(--tertiary-color);
  box-shadow: 2px 2px 5px 1px rgba(255, 255, 255, 0.9);
}

@media screen and ( max-width : 900px ) {

  .c_webchat {
    display: grid;
    grid-gap: 10px;
    grid-template: 'nickname_input nickname_input nickname_button' 4vh
      'user_box user_box user_box' 10vh
      'message_box message_box message_box' 50vh
      'message_input message_input message_button ' 5vh
      / 3fr 5fr 1fr;
    margin: 20px auto;
  }

  .title {
    font-size: 1.2rem;
  }

  .webchat__input {
    font-size: 0.8rem;
    padding: 5px;
  }

  .webchat_user__box , .webchat__message__box {
    font-size: 0.8rem;
  }

  .webchat__button {
    font-size: 0.8rem;
    padding: 5px;
  }
}

@media screen and ( max-width : 400px ) {

  main {
    padding: 10px;
  }

  .header__logo {
    max-width: 100px;
  }

  .c_webchat {
    display: grid;
    grid-gap: 5px;
    grid-template: 'nickname_input nickname_input nickname_button' 6vh
      'user_box user_box user_box' 10vh
      'message_box message_box message_box' 50vh
      'message_input message_input message_button ' 8vh
      / 2.5fr 5fr 1.8fr;
    margin: 20px auto;
  }

  .webchat__input {
    padding: 2px;
  }

  .webchat__message__box {
    padding: 8px;
  }

  .webchat__message__item {
    margin-bottom: 8px;
    padding: 5px;
  }
}
