<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css"/>
  <title>TryChat</title>
</head>
<body>

  <main>
    <header class="c-header">
      <img src="/img/TryChat-Logo-white.png" alt="TryChat Logo" class="header__logo"/>
    </header>
    <div class="c_webchat">
      <input type="text" placeholder="Insira seu nickname" data-testid="nickname-box" class="webchat_nickname__input webchat__input"/>
      <button type="button" data-testid="nickname-button" class="webchat_nickname__button webchat__button">Salvar</button>
      <ul class="webchat_user__box webchat_box"></ul>
      <ul class="webchat__message__box webchat_box">
        <% messages.forEach(({ message, nickname, timestamp }) => { %>
          <li data-testid="message" class="webchat__message__item"><%= `${timestamp} - ${nickname}: ${message}` %></li>
        <% }) %>
      </ul>
      <input type="text" placeholder="Digite uma nova mensagem aqui" data-testid="message-box" class="webchat__message__input webchat__input" autofocus/>
      <button type="button" data-testid="send-button" class="webchat__message__button webchat__button">Enviar</button>
    </div>
  </main>
  <script src='/socket.io/socket.io.js'></script>
  <script src="/js/chat.js"></script>
</body>
</html>